[Unit]
Description=Sei-associated wallet query API
After=network.target

[Service]
Type=simple
# must specify working dir for functionality
WorkingDirectory=/root/repos/q_wallet_grpc
ExecStart=/usr/bin/node /root/repos/q_wallet_grpc/index.js
Restart=on-failure
User=root
Environment=PORT=3009

[Install]
WantedBy=multi-user.target
